.home-container {
    text-align: center;
    margin-top: 50px;
  }
  
  nav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px; /* Add space between buttons */
  }
  
  button {
    margin: 10px;
  }